<a href="https://colab.research.google.com/github/2403a52286-boop/SRU_Batch11/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
data={"name":['ricky','vicky','ricky','rocky'],
        "Age":[12,23,12,None],
       "place":['wgl','hnk','wgl',None]}
df=pd.DataFrame(data)
print("\n orignal data\n",df)
#handling missing values
df['Age']=df['Age'].fillna(df['Age'].mean())
df['place']=df['place'].fillna('usa')
print("\n data after handling missing values\n",df)
#removing duplicate values
df=df.drop_duplicates()
print("\n data after removing duplicate values\n",df)
#change data types
df['Age']=df['Age'].astype(int)
print("\n data after changing data types\n",df)
#remane the coloums
df=df.rename(columns={'name':'Name','place':'Place'})
print("\n data after renaming the coloums\n",df)
#filter the data
df=df[df['Age']>10]
print("\n data after filtering the data\n",df)
#sort the data
df=df.sort_values('Age',ascending=False)
print("\n data after sorting the data\n",df)
#group
group=df.groupby("Name").agg(AVG_Age=("Age","mean"),Total_Age=("Age","sum"))
print("\n data after grouping the data\n",group)

 orignal data
     name   Age place
0  ricky  12.0   wgl
1  vicky  23.0   hnk
2  ricky  12.0   wgl
3  rocky   NaN  None

 data after handling missing values
     name        Age place
0  ricky  12.000000   wgl
1  vicky  23.000000   hnk
2  ricky  12.000000   wgl
3  rocky  15.666667   usa

 data after removing duplicate values
     name        Age place
0  ricky  12.000000   wgl
1  vicky  23.000000   hnk
3  rocky  15.666667   usa

 data after changing data types
     name  Age place
0  ricky   12   wgl
1  vicky   23   hnk
3  rocky   15   usa

 data after renaming the coloums
     Name  Age Place
0  ricky   12   wgl
1  vicky   23   hnk
3  rocky   15   usa

 data after filtering the data
     Name  Age Place
0  ricky   12   wgl
1  vicky   23   hnk
3  rocky   15   usa

 data after sorting the data
     Name  Age Place
1  vicky   23   hnk
3  rocky   15   usa
0  ricky   12   wgl

 data after grouping the data
        AVG_Age  Total_Age
Name
ricky     12.0         12
rocky     15.0         15
vicky     23.0         23