<a href="https://colab.research.google.com/github/2403a52286-boop/SRU_Batch11/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
data={ "Name":['tula','ricky','vicky','lucky','tula',None],
      "Age":[20,12,23,None,25,34],
       "Marks":[78,79,85,98,None,100]}
df=pd.DataFrame(data)
print(df)
#handling missing values
df['Name']=df['Name'].fillna('Unknown') # Fill missing names with 'Unknown'
df['Age']=df['Age'].fillna(df['Age'].mean()) # Fill missing ages with the mean age
df['Marks']=df['Marks'].fillna(df['Marks'].median()) # Fill missing marks with the median mark
print(df)

#remove the duplicates
df=df.drop_duplicates()
print(df)

#rename
df=df.rename(columns={'Name':'std_Name'})
print(df)

#change data type
df['Age']=df['Age'].astype(int)
print(df)

#filtered data
df_filtered=[df['Marks']>90]
print(df_filtered)

df_group=df.groupby('std_Name')['Marks'].mean()
print(df_group)

    Name   Age  Marks
0   tula  20.0   78.0
1  ricky  12.0   79.0
2  vicky  23.0   85.0
3  lucky   NaN   98.0
4   tula  25.0    NaN
5   None  34.0  100.0
      Name   Age  Marks
0     tula  20.0   78.0
1    ricky  12.0   79.0
2    vicky  23.0   85.0
3    lucky  22.8   98.0
4     tula  25.0   85.0
5  Unknown  34.0  100.0
      Name   Age  Marks
0     tula  20.0   78.0
1    ricky  12.0   79.0
2    vicky  23.0   85.0
3    lucky  22.8   98.0
4     tula  25.0   85.0
5  Unknown  34.0  100.0
  std_Name   Age  Marks
0     tula  20.0   78.0
1    ricky  12.0   79.0
2    vicky  23.0   85.0
3    lucky  22.8   98.0
4     tula  25.0   85.0
5  Unknown  34.0  100.0
  std_Name  Age  Marks
0     tula   20   78.0
1    ricky   12   79.0
2    vicky   23   85.0
3    lucky   22   98.0
4     tula   25   85.0
5  Unknown   34  100.0
[0    False
1    False
2    False
3     True
4    False
5     True
Name: Marks, dtype: bool]
std_Name
Unknown    100.0
lucky       98.0
ricky       79.0
tula        81.5
vicky       85.0
Name: Marks, dtype: float64