<a href="https://colab.research.google.com/github/2403a52286-boop/SRU_Batch11/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [3]:
tuple=(1,2,3,'hello','true')
print(tuple)

(1, 2, 3, 'hello', 'true')

In [8]:
dict={'Name':'tula', 'Age':19 , 'City':'wgl'}
print(dict)

{'Name': 'tula', 'Age': 19, 'City': 'wgl'}

In [14]:
import pandas as pd
data = {'Name':['Alice','Bob','charu'],
        'Age':[25,90,23] ,
        'city':['newyork','london','paris']}
df = pd.DataFrame(data)
print(df)

    Name  Age     city
0  Alice   25  newyork
1    Bob   90   london
2  charu   23    paris

In [16]:
import pandas as pd
data1= {'Name':['rocky','ricky','tula','lucky','vicky','varun'],
        'Age': [23,12,34,23,23,87],
        'city': ['wgl','hnk','kazipet','mulugu','narsempet','london']}
df=pd.DataFrame(data1)
print(df)

    Name  Age       city
0  rocky   23        wgl
1  ricky   12        hnk
2   tula   34    kazipet
3  lucky   23     mulugu
4  vicky   23  narsempet
5  varun   87     london

In [ ]:
 df.to_csv('data.csv')